/* style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.input_boxes {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input_boxes label {
    display: block;
    margin-bottom: 5px;
}

.input_boxes input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #2C2C2C;
    color: #E0E0E0;
}

.start_button {
    position: absolute;
}

.start_button button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6200EA;
    color: #E0E0E0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start_button button:hover {
    background-color: #3700B3;
}

.canvas_ {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #333;
    background-color: #1E1E1E;
}
